.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    border: 2px solid black;
}
.box-1{
    background-color: red;
    height: 150px;
    width: 150px;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.box-1:hover{
    transform: translateX(500px);
}